
/* -----  Выравнивание всего содержимого по середине  ----- */
.dws-form {
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
/*	border-radius: 10px;outline: 1px solid orange;	*/
}

.tab-form[id="form-scenario-set"] div.range_Bright {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

/* ----- Вид для всех форм ----- */
	.tab-form {
		 display: none;  /* ---------  скрыть все формы  */
		/* background-color: rgba(255, 255, 255, 0.1);     - задний фон для всех форм */

		padding: 20px 0px 40px;
		font-weight: 600;
		border: 2px;
/*		border-radius: 10px;outline: 1px solid orange;    временная рамка - удалить  */
		position: relative;
	}
		.tab-form[id="form-app-settings"] div {
			position: relative;
			width: 270px;
			top: 0;
			left: -30px;
		}
			.tab-form[id="form-stair-settings"] div {
				width: 400px;
				position: relative;
				top: 0;
				left: -70px;
			}
				.tab-form[id="form-scenario-set"] div {
					width: 400px;
					position: relative;
					top: 0;
					left: -100px;
				}
					.tab-form[id="form-stair-settings"],
					.tab-form[id="form-scenario-set"] {
						width: 260px;
					}
/* ----- Временный блок - скрытие формы ----- 
.tab-form[id="form-general"] {
	display: block;
} */

@media (orientation: landscape){
	.dws-form {
		height: 100%;
	}
}

/* убираем нижний ползунок прокрутки */
body {
    overflow-x: hidden;
}

/* фон нашего модального окна */
.modalBackground {
    display: none;
    background: rgba(100, 100, 100, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* указываем z-индекс для корректного наслаивания */
    z-index: 1;
}

/* позиционирование самого модального окна */
.modalActive {
    position: absolute;
	word-wrap: break-word;
	overflow: auto;
	font-size: 11px;
    text-align: left;
    width: 300px;
    height: 495px;
    top: calc(50% - 250px);
    left: calc(50% - 175px);
    border-radius: 10px;
    background-color: #90baedf7;
    cursor: default;
    padding: 40px 20px;
}

/* кнопочка закрытия модального окна */
.modalClose {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* сама картинка кнопочки закрытия */
.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}

/* делаем позиционирование внутренних элементов относительно модального окна */
.modalWindow {
    position: relative;
}
