
/* -----  Выравнивание всего содержимого по середине  ----- */
.dws-form {
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
/*	border-radius: 10px;outline: 1px solid orange;	*/
}

.tab-form[id="form-scenario-set"] div.range_Bright {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

/* ----- Вид для всех форм ----- */
	.tab-form {
		 display: none;  /* ---------  скрыть все формы  */
		/* background-color: rgba(255, 255, 255, 0.1);     - задний фон для всех форм */

		padding: 20px 0px 40px;
		font-weight: 600;
		border: 2px;
/*		border-radius: 10px;outline: 1px solid orange;    временная рамка - удалить  */
		position: relative;
	}
		.tab-form[id="form-app-settings"] div {
			position: relative;
			width: 270px;
			top: 0;
			left: -30px;
		}
			.tab-form[id="form-stair-settings"] div {
				width: 400px;
				position: relative;
				top: 0;
				left: -70px;
			}
				.tab-form[id="form-scenario-set"] div {
					width: 400px;
					position: relative;
					top: 0;
					left: -100px;
				}
					.tab-form[id="form-stair-settings"],
					.tab-form[id="form-scenario-set"] {
						width: 260px;
					}
/* ----- Временный блок - скрытие формы ----- 
.tab-form[id="form-general"] {
	display: block;
} */

@media (orientation: landscape){
	.dws-form {
		height: 100%;
	}
}

