/* ----- Блоки ввода ----- */
input {
	display: block;
	font-size: 36px; 
	text-align: center;
	letter-spacing: 10px;
	height: 75px;
	width: 260px;
	border: 3px solid #e9eaea;
	padding: 12px 14px;
	box-sizing: border-box;
	margin-bottom: 22px;
	color: #1e8da6;
	outline: none;
	background: transparent;

}
		input.input_Code {
			letter-spacing: 40px;
		}
	
.mini-input {
	display: block;
	font-size: 13px; 
	text-align: left;
	letter-spacing: 0px;
	height: 25px;
	width: 75px;
	border: 1px solid #6e90c0;
	border-radius: 5px;
	padding: 2px 4px;
	box-sizing: border-box;
	margin-bottom: 3px;
	color: #1e8da6;
	outline: none;
	background: #dae8fc;
	position: relative;
	left: -10px; 
	top: -4px; 

}	
	
.range-input {
	width: 400px;
	height: 25px;
    padding: 0;
    border: 0;
    margin: 15px 0 38px 0;
	position: relative;
	left: -60px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	outline: none;
    overflow: hidden;
	border-radius: 10px;
}
    .range-input::-webkit-slider-runnable-track {
      height: 10px;
      background-color: #dae8fc;
	  border-radius: 10px/100%;
	  border: 1px solid black;
    }

    .range-input::-webkit-slider-thumb {
      background: #ecf0f1;
      cursor: pointer;
      width:15px;
      height: 15px;
	  border-radius: 10px/100%;
	  border: 1px solid black;
      -webkit-appearance: none;
      margin-top: -4px;
      box-shadow: -300px  0 100px 300px  #408cc2;
    }
	
.range-input::-moz-range-track {
    	border-radius: 10px/100%;
        height: 10px;
    	border: 1px solid cyan;
    	background-color: #dae8fc;
    }
.range-input::-moz-range-thumb {
		background: #ecf0f1;
		cursor: pointer;
		width:15px;
		height: 15px;
		border-radius: 10px/100%;
		border: 1px solid black;
		-webkit-appearance: none;
		margin-top: -4px;
		box-shadow: -300px  0 100px 300px  #408cc2;
    }


/* ===== Плавающий текст ===== */
.box-input {
	position: relative;
}
	/* - Оформление поля ввода - */
	.box-input input {
		border: none;
		border-bottom: 3px solid #e9eaea;
		padding: 10px 0;

	}
		/* - Позиционирование подсказки - */
		.box-input label {
			position: absolute;
			top: 30px;
			left: 10px;
			padding-top: 0;
			font-size: 26px; 
			color: #fff;
			transition: .5s;
			pointer-events: none;
		}
			.box-input label[id="lbl"] {
				font-size: 20px;
				top: 20px;
				left: 0px;
			}
				/* - Анимация по клику - */
				.box-input input:focus ~ label {
					top: -30px;
					font-size: 16px;
					color: #33d3fe;
				}
				/* =========================== */


.chk_box_list,
.param_set_list {
  
	padding-left: 10px;
	padding-right: 10px;
	 border: 2px solid cornflowerblue; 
	 border-radius: 10px; 
}

.chk_box {
  display: flex;
  flex-direction: row;
	text-align: start;
  padding: 10px 10px 20px 0px;
  transition: 100ms;
}
.tab-form[id="11form-scenario-set"] .chk_box {
	padding: 6px 0px 6px 0px;
}
.set_box {
  display: flex;
  flex-direction: row;
	text-align: start;
  padding: 0px 10px 0px 0px;
}

	.chk_box:not(:last-of-type) {
	   margin-bottom: 5px; 
	}

.chk,
.appchk {
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.label,
.label_set,
.nolabel {
	width: 155px;
	cursor: pointer;
	font-size: medium;
}
.tab-form[id="11form-scenario-set"] .label,
.tab-form[id="11form-scenario-set"] .nolabel {
	width: 350px;
	padding-left: 20px;
	transition:100ms;
}
.label_set_list {
	width: 270px;
	font-size: small;
}
.label_bright {
/*		width: 300px; */
	font-size: medium;
	position: relative;
}
.label_percent {
	width: 20px;
	font-size: medium;
}
.dimension {
	width: 20px;
	font-size: small;
}
.chbx {
	cursor: pointer;
/*	padding-right: 35px; */
/*	width: 250px; */
/*	display: block; */
	position: relative;
	left: 85px; 
	top: -2px; 
}
.tab-form[id="11form-scenario-set"] .chbx {
	left: 0px; 
}
	.chbx::before {
		content: '';
		position: absolute;
		background: #dae8fc;
		border: 2px solid #6C8EBF;
		width: 18px;
		height: 18px;
			/* top: 0; */
			/* left: 0; */
		border-radius: 3px;
		transition: .2s;
	}
		.chk:checked + .chbx::before,
		.appchk:checked + .chbx::before {
			background: transparent;
			border-top: 2px solid transparent;
			border-left: 2px solid transparent;
			border-right: 2px solid #408cc2;
			border-bottom: 2px solid #408cc2;
			transform: rotate(40deg);
			width: 12px;
			height: 22px;
			transform-origin: 100% 100%;
			top: -4px;
			left: -5px;
		}

/* ----- Прячем родные чекбоксы ----- */
.chk:not(:checked),
.chk:checked,
.appchk:not(:checked),
.appchk:checked {
	display: none;
}


.progress {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 30px;
}


/* -----  ----- */


.dragging {
	opasity: 0.5;
}

.clone {
	opasity: 0.5;
	position: absolute;
	width: 350px;
}

.over {
	border: 1px solid #dae8fc;
	border-radius: 3px;
}
