/* ----- Общий вид ----- */
body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
/*	background-image: url('../images/blue.jpg'); */
	-webkit-background-size: cover;
	background-size: cover;
	overscroll-behavior: none;
}

hr {
	width: 400px;
	margin: 30px auto;
	border: 3px solid #9998ff;
}

/* ----- Вид заголовков ----- */
h5 {
	font-weight: 800;
/*	outline: 1px solid orange;	*/
	margin-bottom: 15rem;
	color: #8f46cf;
/*	width: fit-content;	*/
}
	h4 {
		font-weight: 700;
		color: #FF0080;
/*		outline: 1px solid orange;	*/
		margin-top: 1rem;
	}
		h3 {
			font-weight: 800;
			color: #FF0080;
/*			outline: 1px solid orange;	*/
			position: absolute;
			z-index: 100;
		}
		
			.tab-form[id="form-app-settings"] h5 {
				margin-bottom: 8rem;
			}
				/* если совпадает с начальным - удалить!!! */
				.tab-form[id="form-menu-stair"] h5 {
					margin-bottom: 15rem;
				}
					.tab-form[id="form-stair-settings"] h5 {
						margin-bottom: 3rem;
					}
						.tab-form[id="form-scenario-set"] h5 {
							margin-bottom: 3rem;
						}

/* ----- Основной вид red сообщений ----- */
 .red-msg {
	font-weight: 800;
	font-size: 30px;
	width: 400px;
	color: #FF0080;
	position: absolute;
	opasity: 1;
	visibility: visible;
	left: 6em;
    top: 6em;
	transition: all 1.5s;
}
	/* ----- Дополнительный вид red сообщений ----- */
	.red-msg {
		left: -2em;
		top: 6em;
		transition: none;
	}
	
.wp {
	font-weight: 800;
	font-size: 30px;
	color: #FF0080;
	position: absolute;
	opasity: 0; 
/*	visibility: visible; */
	left: 6em;
	top: 6em;
/*	transition: all 1.5s; */
	animation: blinker 3s linear infinite;
}
	/* ----- Анимация red сообщения ----- */
	.tab-form.wp{
		color: rgba(255,00,128,0.0);
/*		opasity: 1;
		visibility: hidden;
		transition: all 3.5s; */
	}
		.wp[id='none_pass']{
			width: 300px;
			left: -0.5em;
		}
			.wp[id='wr_pass']{
				width: 320px;
				left: -0.8em;
			}
.wc {
	font-weight: 800;
	font-size: 30px;
	width: 260px;
	color: #FF0080;
	position: absolute;
	opasity: 0; 
/*	visibility: visible; */
	left: 0.3em;
	top: 6em;
/*	transition: all 1.5s; */
	animation: blinker 3s linear infinite;
}
	/* ----- Анимация red сообщения ----- */
	.tab-form.wc{
		color: rgba(255,00,128,0.0);
/*		opasity: 1;
		visibility: hidden;
		transition: all 3.5s; */
	}	
	
@keyframes blinker {
	50% {
		opacity: 0;
	}
}

/* ----- Основной вид green сообщений ----- */
.green-msg,
.green-msg-success,
.green-msg-connect,
.green-msg-access,
.green-msg-no-access {
	font-weight: 800;
	font-size: 30px;
	color: #33ff33;
	position: absolute;
	left: 5.5em;
	top: 6em;
	text-shadow:
		-1px -1px 0 #000,
		 1px -1px 0 #000,
		-1px  1px 0 #000,
		 1px  1px 0 #000; 
}
	.green-msg-success {
		width: 340px;
		left: -1.2em;
		top: 4em;
	}
		.green-msg-connect {
			font-size: 20px;
			width: 320px;
			left: -1.3em;
			top: 7em;
		}
			.green-msg-access {
				font-size: 16px;
				width: 300px;
				left: -1em;
				top: 11em;
			}
				.green-msg-no-access {
					font-size: 16px;
					width: 340px;
					left: -2.2em;
					top: 11em;
				}
			
	
	
/* ----- Настройки приложения ----- */









/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
/* -----  ----- */