.term-form {
	display: none;  /* ---------  скрыть  */

/* 	padding: 20px 150px 40px;  */
	font-weight: 600;
	height: 450px;
	border: 2px;
	border-radius: 10px;
/*	outline: 1px solid orange;  /*  временная рамка - удалить  */
	position: absolute;
	--x: 0px;
	--y: 0px;
    transform: translate(var(--x), var(--y));
	}

.terminal {
	
/*	background-color: #EEE; */
	text-align: left;
	text-indent: 10px;
	font-size: 10px;
	border-radius: 10px;
/*	outline: 1px solid blue;  */
	overflow: auto;
/*	width: 360px;	*/
	height: 100%;	
	position: relative;
/*    top: -100px; */
	background: #90baedf7;

}
#terminalBlock {
	display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#inputTerminal {
    height: 15px;
    width: 80%;
    font-size: 16px;
    background: #90baedf7;
    text-align: start;
    letter-spacing: 0;
    border: 1px solid #e9eaea;
    border-radius: 5px;
    color: white;
    margin-bottom: 0;
}

#terminalButton {
	height: 26px;
    width: 20%;
    background: #90baedf7;
    border-radius: 5px;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    border: 1px solid #e9eaea;
    font-size: 1em;
	min-width: 60px;
}
	#terminalButton:active {
		box-shadow: inset 0 0 0 1px #66aaff;
		font-size: 0.9em;
		padding: 0px 0px;
		transition: all 0.2s;
		transform: translateY(4px);
	}
	
/* -----  ----- */
#terminal div {
    color: gray;
}
/* -----  ----- */
#terminal div.out {
    color: red;
}
/* -----  ----- */
#terminal div.in {
    color: blue;
}

#closeTerminal {
	position: absolute;
	right: 10px;
	top: 0;
}